html {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5vw;
    margin: 20px 12.5% 20px 12.5%;
}

body {
    text-align: center;
    border-style: solid;
    border-color: black;
}

div {
    margin: 10px;
}

select {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5vw;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    width: 15%;
}

input {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5vw;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    width: 19%;
}

.csvInput {
    margin-left: 4.5%;
}

.pChart {
    text-align: center;
}

button {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5vw;
    background-color: #0864E8;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    opacity: .7;
}

.PlusBtn {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5vw;
    background-color: green;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    opacity: .7;
}

.ChkBtn {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5vw;
    background-color: green;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    opacity: .7;
}

.NoBtn {
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5vw;
    background-color: red;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    opacity: .7;
}

.PlusBtn:hover {opacity: 1;}

.PlusBtn:hover:after {opacity: .7;}

.ChkBtn:hover {opacity: 1;}

.ChkBtn:hover:after {opacity: .7;}

.NoBtn:hover {opacity: 1;}

.NoBtn:hover:after {opacity: .7;}

.btn:hover {opacity: 1;}

.btn:hover:after {opacity: .7;}
